@font-face {
  font-family: OpenSans; /*название шрифта*/
  src: url(/диплом-1/fonts/OpenSans-Regular.woff), url(/диплом-1/fonts/OpenSans-Bold.woff); /*ссылка на шрифт*/
	font-weight: 400, 700; /*обозначаем шрифт*/
}
@media screen and (min-width: 641px) {
  .main {
    margin: 62px auto;
  }
  .shop {
    margin-bottom: 4rem;
  }
  .social-media-container {
    margin-bottom: 72px;
  }
  .footer {
    margin: 0 auto 40px;
  }
  .copyright {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1201px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-bg.jpg");
  }
  .main-posts-section {
    column-gap: 120px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    height: 40px;
  }
  .hamburger-menu {
    display: none;
  }
  h1 {
    font-size: 2.8125rem;
    line-height: 75px;
    margin-bottom: 145px;
  }
  .trend-block-board {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4px;
  }
  .post-title {
    font-size: 1.25rem;
    line-height: 24px;
  }
  .trend-block {
    height: 20rem;
  }
  .small-title.header-2 {
    font-size: 1.25rem;
  }
  .main-posts-section {
    padding-bottom: 4rem;
    flex-direction: row;
  }
  .post-card {
    flex-direction: row;
    column-gap: 31px;
    width: 100%;
  }
  .post-preview {
    width: 381px;
  }
  .post-text-container {
    width: 367px;
  }
  .date-author-container {
    margin-bottom: 42px;
  }
  .aside {
    max-width: 271px;
  }
  .shop-block-board {
    justify-content: center;
    column-gap: 7rem;
    flex-direction: row;
  }
  .shop-block-title.header-2 {
    font-size: 20px;
  }
  .shop-block-text-container::before {
    height: 262px;
    width: 345px;
    left: -25px; 
  }
  .footer {
    max-width: 1200px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-bg-tablet.jpg");
  }
  .navigation-bar {
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    height: 36px;
  }
  .nav-list {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 55px;
    margin-bottom: 124px;
  }
  .trend-block-board {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4px;
  }
  .trend-block {
    height: 249px;
  }
  .post-title {
    font-size: 1.0625rem;
    line-height: 22px;
  }
  .small-title.header-2 {
    font-size: 18px;
  }
  /* .trend-block {
    width: calc(50% - 2px);
  } */
  .main-posts-section {
    padding-left: 35px;
    padding-right: 35px;
    column-gap: 34px;
    padding-bottom: 4rem;
    flex-direction: row;
  }
  .posts-board {
    min-width: 393px;
  }
  .post-card {
    flex-direction: column;
    row-gap: 14px;
    position: relative;
    max-width: 393px;
  }
  .post-preview, .post-text-container {
    width: 100%;
  }
  .post-card:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 3px;
    bottom: -20px;
    left: 50%;
    background-color: #eee;
    position: absolute;
    margin-left: -50%;
  }
  .date-author-container {
    margin-bottom: 30px;
  }
  .aside {
    max-width: 273px;
  }
  .shop-block-board {
    margin-left: 35px;
    margin-right: 35px;
    justify-content: space-between;
    column-gap: 68px;
    row-gap: 100px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .shop-block-text-container::before {
    height: 262px;
    width: 345px;
    left: -25px; 
  }
  .footer {
    max-width: 768px;
    min-width: 641px;
    width: 100%;
  }
}
@media screen and (max-width: 737px) {
  .shop-block-board {
    justify-content: center;
  }
  .shop-block-text-container::before {
    height: calc(100% + 80px);
    left: -25px; 
  }
}
@media screen and (max-width: 640px) {
  .header {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-mobile.jpg);
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-list {
    display: none;
  }
  .navigation-bar {
    flex-direction: column-reverse;
    row-gap: 174px;
    align-items: flex-end;
  }
  .logo {
    align-self: center;
  }
  h1 {
    font-size: 26px;
    margin-bottom: 220px;
  }
  .trend-block {
    height: 233px;
  }
  .trend-block-board {
    width: 100%;
    flex-direction: column;
    row-gap: 4px;
  }
  .post-title {
    font-size: 1rem;
    line-height: 20px;
  }
  .main {
    margin: 42px auto;
  }
  .main-posts-section {
    padding-bottom: 4rem;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .posts-board {
    padding-bottom: 60px;
    align-items: center;
  }
  .post-card {
    flex-direction: column;
    row-gap: 14px;
    position: relative;
    max-width: 393px;
  }
  .post-preview, .post-text-container {
    width: 100%;
  }
  .post-card::after {
    content: "";
    width: 100%;
    height: 3px;
    bottom: -20px;
    left: 50%;
    background-color: #eee;
    position: absolute;
    margin-left: -50%;
  }
  .date-author-container {
    margin-bottom: 30px;
  }
  .tag-list {
    justify-content: center;
  }
  .main {
    margin-bottom: 42px;
  }
  .shop-block-board {
    flex-direction: column;
    align-items: center;
    row-gap: 54px;
  }
  h2.small-title {
    font-size: 1rem;
  }
  .shop-block-text-container::before {
    width: 325px;
    left: -15px; 
  }
  .footer {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 46px;
  }
  .social-media-container {
    margin-bottom: 48px;
  }
  .copyright {
    padding-bottom: 0px;
  }
}

@media screen and (orientation: landscape) and (min-width: 641px) and (max-width: 1200px), (min-width: 1201px)  {
  .trend-block-board {
    flex-wrap: nowrap;
  }
  .trend-block {
    width: 25%;
  }
}
@media screen and (orientation: portrait) and (min-width: 641px) and (max-width: 1200px)  {
  .trend-block-board {
    flex-wrap: wrap;
    row-gap: 4px;
  }
  .trend-block {
    width: calc(50% - 2px);
  }
}

@media screen and (orientation: landscape) and (max-width: 640px)  {
  .trend-block-board {
    flex-wrap: wrap;
    row-gap: 4px;
  }
  .trend-block {
    width: 50%;
  }
}
@media screen and (orientation: portrait) and (max-width: 640px) {
  .trend-block {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
}
.body {
  width: 100%;
}
.header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header::after{
  content: "";
  background-color: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.navigation-bar {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* column-gap: 526px; */
  margin-top: 30px;
  position: relative;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo img {
  cursor: pointer;
}
.nav-list {
  justify-content: space-between;
  list-style: none;
  align-items: center;
  column-gap: 35px;
}
.nav-list li a {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: normal;
}
a {
  text-decoration: none;
  color: #000;
}
.nav-list li a:hover {
  text-decoration: underline;
}
.hamburger-menu-container {
  width: 23px;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.hero-title {
  max-width: 680px;
  position: relative;
  z-index: 1;
  margin-top: 102px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.main {
  max-width: 1660px;
  width: 100%;
  margin: 62px auto;
  /* padding-left: 245px;
  padding-right: 245px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.trends {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 64px;
}
.trend-block-board{
  display: flex;
}
.header-2 {
  /* font-size: 1.25rem; */
  text-transform: uppercase;
}
.trend-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.trend-block.block-1 {
  background-image: url(https://raw.githubusercontent.com/ParaPaca/netology/main/noemi-blog-diploma-2/images/trend1.jpg);
}
.trend-block.block-2 {
  background-image: url(https://raw.githubusercontent.com/ParaPaca/netology/main/noemi-blog-diploma-2/images/trend2.jpg);
}
.trend-block.block-3 {
  background-image: url(https://raw.githubusercontent.com/ParaPaca/netology/main/noemi-blog-diploma-2/images/trend3.jpg);
}
.trend-block.block-4 {
  background-image: url(https://raw.githubusercontent.com/ParaPaca/netology/main/noemi-blog-diploma-2/images/trend4.jpg);
}
.trend-block::after {
  content: "";
  background-color: #000;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.trend-block-content-container{
  width: 100%;
  margin: 0rem 1rem 1rem;
  padding: 2.3rem 2.3rem 2rem;
  border: #b59f5b 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trend-block-content-container a .post-title {
  color: #fff;
  padding: 0;
}

.main-posts-section {
  max-width: 1660px;
  /* padding-left: 245px;
  padding-right: 245px; */
  display: flex;
  /* column-gap: 120px; */
  justify-content: center;
}
.posts-board {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.post-card {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-preview {
  /* width: 381px; */
  background: #b59f5b;
  text-align: center;
  font-size: 1.25rem;
}
/* .post-text-container {
  width: 367px;
  margin-left: 31px;
} */
.tags-container {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  flex-wrap: wrap;
}
.tags-container .tag {
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding-bottom: 8px;
  line-height: normal;
}
.tags-container .tag:hover {
  text-decoration: underline;
}
.post-title {
  text-transform: uppercase;
  padding-bottom: 30px;
}
.post-title:hover {
  text-decoration: underline;
}
.date-author-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.875rem;
  /* margin-bottom: 42px; */
}
.date {
  color: #888;
  font-size: 0.75rem;
  line-height: normal;
}
.author {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: normal;
}
.post-text-container-small {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.post-text {
  font-size: 15px;
  line-height: 22px;
}
.aside {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.new-posts-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.small-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding-bottom: 38px;
  position: relative;
  font-weight: bold;
}
.divider {
  width: 66px;
  margin: 0 auto;
  border-top: #e1d9bd 3px solid;
  padding-bottom: 28px;
}
.small-title::after {
  content: "";
  width: 66px;
  height: 2px;
  bottom: 23px;
  left: 50%;
  background-color: #b59f5b;
  position: absolute;
  margin-left: -33px;
}
.new-post-card {
  display: flex;
  flex-direction: row;
}
.new-post-card:not(:last-child) {
  padding-bottom: 22px;
}
.new-post-card img {
  width: 71px;
  height: 71px;
}
.new-post-text-container {
  padding-left: 19px;
}
.new-post-text-container h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: bold;
}
.new-post-text-container .date {
  padding-bottom: 5px;
}
.search-container {
  display: flex;
  flex-direction: row;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
.input-field {
  width: 100%;
  height: 48px;
  padding: 18px;
  border: none;
  background-color: #f3f7f5;
  font-size: 0.8125rem;
}
.input-field:not([type=email]) {
  width: calc(100% - 48px);
}
.input-field:focus, 
.input-field:focus-visible {
  outline: #b59f5b solid 1px;
}
.search-icon {
  fill:#fff
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
}
.search-button {
  width: 48px;
  height: 48px;
}
/* .button {
  background-color: #b59f5b;
  border: none;
} */
.button, a button.button {
  background-color: #b59f5b;
  border: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  height: 48px;
  font-weight: bold;
  color: #fff;
}
[type=email] {
  margin-bottom: 18px;
}
.button:hover {
  background-color: #313131;
  cursor: pointer;
}
.button:focus, 
.button:focus-visible {
  outline: #313131 solid 1px;
}
.subscription {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tags {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tag-list {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.tag-list li{
  padding: 4px 10px;
  border:#ededed 3px solid;
}
.tag-list li a {
  font-size: 0.75rem;
}
.tag-list li:hover {
  border: #b59f5b solid 3px;
}
.categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category-list {
  font-size: 0.875rem;
  list-style: none;
  font-weight: bold;
}
.category-list li {
  border-bottom: #ededed 1px solid;
  padding-bottom: 0.875rem;
}
.category-list li:not(:first-child) {
  padding-top: 0.875rem;
}
.categories-container li a {
  font-size: 0.875rem;
}
.category-list li a:hover {
  color: #b59f5b;
}
.upper-number {
  color:#b59f5b;
  vertical-align: super;
  font-size: 0.75rem;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop-block-board {
  display: flex;
}
.shop-block-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.shop-block-text-container {
  position: relative;
  z-index: 0;
}
.shop-block-text-container::before {
  content: "";
  position: absolute;
  border: #b59f5b 3px solid;
  top: -60px;
  /* padding: 53px 19px 69px;*/
  background: none;
  z-index: -1;
}
.shop-img-preview {
  margin-bottom: 22px;
}
.shop-block-title.header-2 {
  padding-bottom: 8px;
}
.shop-block-paragraph {
  padding-bottom: 22px;
}
.shop-block-paragraph > a {
  color:#b59f5b;
}
.shop-block-paragraph > a:hover {
  text-decoration: underline;
}
.shop-block-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.prices {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.prices > p:first-child {
  font-size: 0.825rem;
  text-decoration: line-through;
}
.none {
  display: none;
}
.prices > p {
  font-weight: bold;
  font-size: 1.25rem;
}
.shop-block-footer > a > .button {
  width: 140px;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.social-media-container {
  background-color: #f3f7f5;
  height: 83px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.copyright {
  text-align: center;
  color: #999;
  font-weight: bold;
}