@font-face {
  font-family: OpenSans; /*название шрифта*/
  src: url(/noemi-blog-diploma-2/fonts/OpenSans-Bold.woff); /*ссылка на шрифт*/
	font-weight: bold; /*обозначаем жирный шрифт*/
}
@font-face {
  font-family: OpenSans; /*название шрифта*/
  src: url(/noemi-blog-diploma-2/fonts/OpenSans-Regular.woff); /*ссылка на шрифт*/
	font-weight: regular; /*обозначаем шрифт*/
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}
/* @media screen (min-width: 1200px) {
  
} */
.body {
  width: 100%;
  margin: 0 auto;
}
.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 450px;
  color: #fff;
  position: relative;
  z-index: 0;
}
.header::after{
  content: "";
  background-color: #000;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.navigation-bar {
  max-width: 1660px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 245px;
  padding-right: 245px;
  position: relative;
}
.logo {
  width: 179px;
  height: 40px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  column-gap: 35px;
}
.nav-list li a {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: normal;
}
a {
  text-decoration: none;
  color: #000;
}
.nav-list li a:hover {
  text-decoration: underline;
}
.hero-title {
  width: 680px;
  position: relative;
  z-index: 1;
  margin: 100px auto 146px;  
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.main {
  max-width: 1660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  margin: 0 auto;
}
.trends {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  width: 100%;
}
.trend-block-board {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 4px;
}
.trend-block {
  background-image: url(/noemi-blog-diploma-2/images/trend1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 319px;
  width: 414px;
  position: relative;
  z-index: 0;
}
.trend-block::after {
  content: "";
  background-color: #000;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.trend-block-content-container{
  width: 370px;
  margin: 158px auto 16px;
  padding: 38px 38px 33px;
  border: #b59f5b 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trend-block-content-container a .post-title {
  color: #fff;
  padding: 0;
}
.main-posts-section {
  max-width: 1660px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 120px;
  margin: 63px auto 60px;
  padding-left: 245px;
  padding-right: 245px;
}
.posts-board {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.post-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-preview {
  width: 381px;
  background: #b59f5b;
  text-align: center;
  font-size: 20px;
}
.post-text-container {
  width: 367px;
  margin-left: 31px;
}
.tags-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
}
.tags-container .tag {
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
  line-height: normal;
}
.tags-container .tag:hover {
  text-decoration: underline;
}
.post-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 30px;
}
.post-title:hover {
  text-decoration: underline;
}
.date-author-container {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  margin-bottom: 42px;
}
.date {
  color: #888;
  font-size: 12px;
  line-height: normal;
}
.author {
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
}
.post-text-container-small {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.post-text {
  font-size: 15px;
  line-height: 22px;
}
.aside {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.new-posts-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.small-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 38px;
  position: relative;
  font-weight: bold;
}
.divider {
  width: 66px;
  margin: 0 auto;
  border-top: #e1d9bd 3px solid;
  padding-bottom: 28px;
}
.small-title::after {
  content: "";
  width: 66px;
  height: 2px;
  bottom: 23px;
  left: 50%;
  background-color: #b59f5b;
  position: absolute;
  margin-left: -33px;
}
.new-post-card {
  display: flex;
  flex-direction: row;
}
.new-post-card:not(:last-child) {
  padding-bottom: 22px;
}
.new-post-card img {
  width: 71px;
  height: 71px;
}
.new-post-text-container {
  padding-left: 19px;
}
.new-post-text-container h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.new-post-text-container .date {
  padding-bottom: 5px;
}
.search-container {
  display: flex;
  flex-direction: row;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
.input-field {
  width: 100%;
  height: 48px;
  padding: 18px;
  border: none;
  background-color: #f3f7f5;
  font-size: 13px;
}
.input-field:not([type=email]) {
  width: calc(100% - 48px);
}
.input-field:focus, 
.input-field:focus-visible {
  outline: #b59f5b solid 1px;
}
.search-icon {
  fill:#fff
}
.icon {
  width: 20px;
  height: 20px;
}
.search-button {
  width: 48px;
  height: 48px;
}
.button {
  background-color: #b59f5b;
  border: none;
}
.button:hover {
  background-color: #313131;
}
.button:focus, 
.button:focus-visible {
  outline: #313131 solid 1px;
}
.subscription {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subscribe-button {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  height: 48px;
  font-weight: bold;
  color: #fff;
  margin-top: 18px;
}
.tags {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tag-list {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.tag-list li{
  padding: 4px 10px;
  border:#ededed 3px solid;
}
.tag-list li:hover {
  border: #b59f5b solid 3px;
}
.categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category-list {
  font-size: 14px;
  list-style: none;
  font-weight: bold;
}
.category-list li {
  border-bottom: #ededed 1px solid;
  padding-bottom: 14px;
}
.category-list li:not(:first-child) {
  padding-top: 14px;
}
.category-list li a:hover {
  color: #b59f5b;
}
.upper-number {
  color:#b59f5b;
  vertical-align: super;
  font-size: 12px;
}
.footer {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto 40px;
  padding-left: 245px;
  padding-right: 245px;
}
.social-media-container {
  background-color: #f3f7f5;
  height: 83px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 72px;
}
.copyright {
  text-align: center;
  color: #999;
  font-weight: bold;
  padding-bottom: 40px;
}